<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>Não Concordo</title>
        <meta charset="UTF-8" />

        <link rel="Shortcut icon" href="{{ app.request.basepath }}/assets/app/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" media="all" href="{{ app.request.basepath }}/assets/app/css/style.css" />

        <script type="text/javascript">
            var Cekurte = {'baseUrl' : '{{ app.request.basepath }}'};
        </script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/vendor/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/app/js/main.js"></script>

    </head>
    <body>
        <header>
            <h1>Não Concordo</h1>
            <h2>Param1: {{ param1 }}</h2>
        </header>
    </body>
</html>
