{% for message in messages %}
    <div>{{ message }}</div>
{% endfor %}

<h1>Lista de Contatos</h1>
<a href="{{ app.url_generator.generate('cekurte.agenda.create') }}">Adicionar</a><br />
<table>
 	<thead>
  		<tr>
			<th>#</th>
		   	<th>Nome</th>
		   	<th>Email</th>
		   	<th>Telefone</th>
		   	<th>Ações</th>
  		</tr>
 	</thead>
 	<tbody>
  	{% for contato in contatos %}
      	<tr>
       		<td>{{ contato.id }}</td>
       		<td>{{ contato.nome }}</td>
       		<td>{{ contato.email }}</td>
       		<td>{{ contato.telefone }}</td>
       		<td>
        		<a href="{{ app.url_generator.generate('cekurte.agenda.update', {'id' : contato.id}) }}">Editar</a>
        		<a href="{{ app.url_generator.generate('cekurte.agenda.delete', {'id' : contato.id}) }}">Remover</a>
       		</td>
      	</tr>
  	{% endfor %}
 	</tbody>
</table>